.container {
  height: 100vh;
  background-image: url('../assets/hunter_peyton.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.songContainer {

}

.container h1 {
  margin: 0;
}

.plug {
  position: fixed;
  bottom: 0;
  left: 0;
}

.plug p {
  margin: 0;
}

.plug span {
  background-color: #3A328B;
  font-size: 2rem;
  color: white;
}

.plug a {
  text-decoration: underline;
  color: white;
}