.container {
  height: 100vh;
  background-image: url('../assets/hunter_peyton.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.songContainer {
  margin: 5rem 46rem -5rem;
  width: 30%;
  height: 80%;
  overflow: scroll;
}

.songContainer::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

.songContainer::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

.songContainer::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #3A328B;
}

.songContainer h1 span {
  font-size: 3rem;
  background-color: #3A328B;
  color: white;
}

.container h1 {
  margin: 0;
}

.plug {
  position: fixed;
  bottom: 0;
  left: 0;
}

.plug p {
  margin: 0;
}

.plug span {
  background-color: #3A328B;
  font-size: 1.5rem;
  color: white;
}

.plug a {
  text-decoration: underline;
  color: white;
}

.footer {
  position: fixed;
  top: 0;
  right: 0;
}

.footer .sponsored {
  margin: 0 0 0.5rem 0;
  text-decoration: underline;
  color: white;
}

/* mobile-design */

.mobileContainer {
  height: 100vh;
  background: url('../assets/showMeStonks.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.mobileSongContainer {
  margin: 0 auto;
  width: 50%;
  height: 70%;
  overflow: scroll;
}

.mobileContainer h1 span {
  font-size: 2rem;
  background-color: #3A328B;
  border-radius: 0.5rem;
  color: white;
}

.mobileFooter .sponsored {
  text-decoration: underline;
  color: white;
  font-size: 0.6rem;
  font-family:'Courier New', Courier, monospace;
}

.mobileFooter img {
  background-color: white;
  opacity: 0.7;
  border-radius: 0.5rem;
}

.mobilePlug {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.7rem;
}

.mobilePlug span {
  background-color: #3A328B;
  color: white;
}

.mobilePlug p {
  margin: 0;
}

.mobilePlug a {
  color: white;
}