.requestContainer {
  height: 70%;
  width: 30%;
  overflow: scroll;
  text-align: center;
}

.requestContainer::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

.requestContainer::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

.requestContainer::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #3A328B;
}

.field {
  width: 20rem;
  margin-top: 1rem;
  margin-right: 1rem;
  height: 2rem;
}

.submitBtn {
  text-transform: uppercase;
  margin-top: 1rem;
}

/* mobile design */ 

.requestContainerMobile {
  height: 50%;
  width: 100%;
  text-align: center;
  overflow: scroll;
}

.mobileInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldMobile {
  width: 10rem;
  margin-top: 1rem;
  margin-right: 1rem;
  height: 2rem;
}

.requestContainerMobile::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.requestContainerMobile::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

.requestContainerMobile::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #3A328B;
}