.individualSongs p {
  margin: 0;
  padding: 0;
}

.requester span {
  font-size: 1rem;
  color: white;
  background-color: #3A328B;
}

.individualSongs span {
  background-color: #3A328B;
  color: white;
  font-size: 2rem;
}

/* mobile design */
.mobileIndividualSongs span {
  font-size: 1.5rem;
  color: white;
  background-color: #3A328B;
}