@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image:
    linear-gradient(to bottom, rgba(56, 39, 135, 0.52), rgba(4, 196, 199, 0.52)),
    url('../src/assets/hunter_peyton.jpeg');
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}

.main-page-content {
    background-image:
    linear-gradient(to bottom, rgba(56, 39, 135, 0.52), rgba(4, 196, 199, 0.52)),
    url('../src/assets/janky_things.jpeg');
    background-size: cover;
    background-position: top;
    height: 75vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.requestContainer::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

.requestContainer::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

.requestContainer::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #382787;
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}