@tailwind base;
@tailwind components;
@tailwind utilities;


.main-page-content,
.register-user-content {
  background: url('../src/assets/Jazz_overlay.jpg') no-repeat;
  height: 100vh;
  background-size: cover;
}


@font-face {
  font-family: 'Ad Lib';
  src: local('Ad Lib'), url(../src/assets/fonts/AdLibRegular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}