@tailwind base;
@tailwind components;
@tailwind utilities;

.janky-things {
  clip-path: circle(50% at 50% 50%);
  animation: fadeInAnimation ease .23s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.requestContainer::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

.requestContainer::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

.requestContainer::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #382787;
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}